{
  "openapi": "3.1.0",
  "info": {
    "title": "InvoiceCraftly Developer Document API",
    "version": "1.0.0-beta",
    "description": "Beta API for generating invoice PDFs, checking EN16931-core readiness, and returning EN16931-core UBL/XML. Structured output is not a Peppol BIS artifact and does not perform network delivery."
  },
  "servers": [
    {
      "url": "https://invoicecraftly.com",
      "description": "Production"
    }
  ],
  "externalDocs": {
    "description": "Developer documentation",
    "url": "https://invoicecraftly.com/developers/"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Documents",
      "description": "Invoice document generation."
    },
    {
      "name": "Structured invoicing",
      "description": "EN16931-core readiness and structured XML."
    }
  ],
  "paths": {
    "/api/v1/documents/pdf": {
      "post": {
        "tags": [
          "Documents"
        ],
        "summary": "Generate an invoice PDF",
        "description": "Generate a print-ready invoice PDF using the currently supported Ledger template. The beta supports invoice documents only.",
        "operationId": "generateInvoicePdf",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicDocumentV1"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Print-ready invoice PDF.",
            "headers": {
              "X-Render-Duration-Ms": {
                "description": "Render duration when supplied by the rendering service.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationFailed"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "422": {
            "$ref": "#/components/responses/TargetNotSupported"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/RenderTimeout"
          }
        }
      }
    },
    "/api/v1/invoices/readiness": {
      "post": {
        "tags": [
          "Structured invoicing"
        ],
        "summary": "Check EN16931-core readiness",
        "description": "Return deterministic EN16931-core readiness diagnostics. This endpoint does not generate XML.",
        "operationId": "checkInvoiceReadiness",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicStructuredArtifactRequestV1"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Readiness result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadinessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationFailed"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "422": {
            "$ref": "#/components/responses/TargetNotSupported"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/documents/structured": {
      "post": {
        "tags": [
          "Structured invoicing"
        ],
        "summary": "Generate EN16931-core structured XML",
        "description": "Return readiness diagnostics and, when ready, an EN16931-core UBL/XML artifact. This is not a Peppol BIS artifact and does not perform network delivery.",
        "operationId": "generateStructuredInvoice",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicStructuredArtifactRequestV1"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Readiness result plus XML artifact when ready.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StructuredArtifactResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationFailed"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "422": {
            "$ref": "#/components/responses/TargetNotSupported"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "dk_live_*"
      }
    },
    "responses": {
      "InvalidRequest": {
        "description": "Request body is invalid.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      },
      "AuthenticationFailed": {
        "description": "API key is missing, invalid, or unavailable.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      },
      "PayloadTooLarge": {
        "description": "Request body exceeds the accepted size.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      },
      "UnsupportedMediaType": {
        "description": "PDF generation requires application/json.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      },
      "TargetNotSupported": {
        "description": "The requested document type or template is recognized but not currently supported.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Monthly or service quota reached.",
        "headers": {
          "Retry-After": {
            "schema": {
              "type": "string"
            },
            "description": "Retry delay in seconds when supplied."
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "A required service is unavailable.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      },
      "RenderTimeout": {
        "description": "The PDF render exceeded its time budget.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      }
    },
    "schemas": {
      "PublicDocumentV1": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "issueDate",
          "currency",
          "seller",
          "buyer",
          "items"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "invoice"
            ],
            "description": "Only invoice is currently supported."
          },
          "number": {
            "type": "string"
          },
          "issueDate": {
            "type": "string",
            "format": "date"
          },
          "dueDate": {
            "type": "string",
            "format": "date"
          },
          "currency": {
            "type": "string",
            "pattern": "^[A-Z]{3}$",
            "examples": [
              "USD",
              "EUR",
              "DKK",
              "NOK"
            ]
          },
          "locale": {
            "type": "string",
            "examples": [
              "en-US",
              "da-DK",
              "nb-NO"
            ]
          },
          "template": {
            "type": "string",
            "enum": [
              "ledger"
            ],
            "description": "Only Ledger is currently supported."
          },
          "seller": {
            "$ref": "#/components/schemas/Party"
          },
          "buyer": {
            "$ref": "#/components/schemas/Party"
          },
          "items": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/LineItem"
            }
          },
          "payment": {
            "$ref": "#/components/schemas/Payment"
          },
          "notes": {
            "type": "string"
          },
          "branding": {
            "$ref": "#/components/schemas/Branding"
          }
        }
      },
      "Party": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "name",
          "addressLines"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "addressLines": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "LineItem": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "description",
          "quantity",
          "unitPrice",
          "taxRate"
        ],
        "properties": {
          "description": {
            "type": "string",
            "minLength": 1
          },
          "quantity": {
            "type": "number",
            "exclusiveMinimum": 0
          },
          "unitPrice": {
            "type": "number",
            "minimum": 0
          },
          "taxRate": {
            "type": "number",
            "minimum": 0,
            "maximum": 100
          },
          "taxLabel": {
            "type": "string"
          }
        }
      },
      "Payment": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "bankName": {
            "type": "string"
          },
          "iban": {
            "type": "string"
          },
          "bic": {
            "type": "string"
          },
          "accountNumber": {
            "type": "string"
          },
          "routingNumber": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "poNumber": {
            "type": "string"
          },
          "terms": {
            "type": "string"
          },
          "dueText": {
            "type": "string"
          },
          "qrMode": {
            "type": "string",
            "enum": [
              "",
              "contact",
              "epc",
              "paymentLink"
            ]
          }
        }
      },
      "Branding": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "accentColor": {
            "type": "string",
            "pattern": "^#[0-9a-fA-F]{3,8}$"
          },
          "stampStyle": {
            "type": "string",
            "enum": [
              "round",
              "square",
              "none"
            ]
          },
          "logo": {
            "$ref": "#/components/schemas/Logo"
          }
        }
      },
      "Logo": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "data",
          "mimeType"
        ],
        "properties": {
          "data": {
            "type": "string",
            "contentEncoding": "base64",
            "description": "Base64 image data. Decoded size is limited to 512 KiB."
          },
          "mimeType": {
            "type": "string",
            "enum": [
              "image/png",
              "image/jpeg"
            ]
          }
        }
      },
      "PublicStructuredArtifactRequestV1": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "document"
        ],
        "properties": {
          "document": {
            "$ref": "#/components/schemas/PublicDocumentV1"
          },
          "supplement": {
            "$ref": "#/components/schemas/ComplianceSupplementV1"
          }
        }
      },
      "ComplianceSupplementV1": {
        "type": "object",
        "description": "Optional EN16931-core metadata. Unknown nested fields are ignored by the current normalizer; listed fields are the supported public surface.",
        "properties": {
          "version": {
            "type": "integer",
            "enum": [
              1
            ]
          },
          "buyerReference": {
            "type": "string",
            "maxLength": 256
          },
          "seller": {
            "$ref": "#/components/schemas/ComplianceParty"
          },
          "buyer": {
            "$ref": "#/components/schemas/ComplianceParty"
          },
          "lines": {
            "type": "array",
            "maxItems": 250,
            "items": {
              "$ref": "#/components/schemas/ComplianceLine"
            }
          }
        }
      },
      "ComplianceParty": {
        "type": "object",
        "properties": {
          "postalAddress": {
            "$ref": "#/components/schemas/PostalAddress"
          },
          "electronicAddressSchemeId": {
            "type": "string"
          },
          "taxId": {
            "$ref": "#/components/schemas/TaxIdMetadata"
          },
          "vatIdentifier": {
            "type": "string",
            "maxLength": 256
          },
          "taxRegistrationIdentifier": {
            "$ref": "#/components/schemas/TaxRegistrationIdentifier"
          }
        }
      },
      "PostalAddress": {
        "type": "object",
        "properties": {
          "countryCode": {
            "type": "string",
            "pattern": "^[A-Za-z]{2}$"
          },
          "city": {
            "type": "string",
            "maxLength": 128
          },
          "postalCode": {
            "type": "string",
            "maxLength": 128
          },
          "region": {
            "type": "string",
            "maxLength": 128
          }
        }
      },
      "TaxIdMetadata": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "seller-id",
              "legal-registration",
              "tax-registration",
              "vat"
            ]
          },
          "schemeId": {
            "type": "string",
            "maxLength": 32
          },
          "taxSchemeId": {
            "type": "string",
            "maxLength": 32
          }
        }
      },
      "TaxRegistrationIdentifier": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "maxLength": 256
          },
          "taxSchemeId": {
            "type": "string",
            "maxLength": 32
          }
        }
      },
      "ComplianceLine": {
        "type": "object",
        "required": [
          "sourceIndex"
        ],
        "properties": {
          "sourceIndex": {
            "type": "integer",
            "minimum": 0
          },
          "unitCode": {
            "type": "string",
            "maxLength": 8
          },
          "vatCategoryCode": {
            "type": "string",
            "enum": [
              "AE",
              "B",
              "E",
              "G",
              "K",
              "L",
              "M",
              "O",
              "S",
              "Z"
            ]
          },
          "vatExemptionReason": {
            "type": "string",
            "maxLength": 256
          },
          "vatExemptionReasonCode": {
            "type": "string",
            "maxLength": 64
          }
        }
      },
      "ReadinessResponse": {
        "type": "object",
        "required": [
          "apiVersion",
          "profileId",
          "specificationIdentifier",
          "ready",
          "gaps"
        ],
        "properties": {
          "apiVersion": {
            "type": "string",
            "const": "v1"
          },
          "profileId": {
            "type": "string",
            "examples": [
              "en16931-core"
            ]
          },
          "specificationIdentifier": {
            "type": "string",
            "examples": [
              "urn:cen.eu:en16931:2017"
            ]
          },
          "ready": {
            "type": "boolean"
          },
          "gaps": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      },
      "StructuredArtifactResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ReadinessResponse"
          },
          {
            "type": "object",
            "required": [
              "artifact"
            ],
            "properties": {
              "artifact": {
                "oneOf": [
                  {
                    "type": "null"
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "mediaType",
                      "content"
                    ],
                    "properties": {
                      "mediaType": {
                        "type": "string",
                        "const": "application/xml"
                      },
                      "content": {
                        "type": "string",
                        "description": "EN16931-core UBL/XML when ready."
                      }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "ErrorEnvelope": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "code",
              "message",
              "requestId",
              "details"
            ],
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "AUTHENTICATION_FAILED",
                  "INVALID_REQUEST",
                  "TARGET_NOT_SUPPORTED",
                  "RATE_LIMITED",
                  "RENDER_TIMEOUT",
                  "PDF_RENDER_FAILED"
                ]
              },
              "message": {
                "type": "string"
              },
              "requestId": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "details": {
                "type": "array",
                "items": {}
              }
            }
          }
        }
      }
    }
  }
}
